.Rproj.user
.Rhistory
.RData
.Ruserdata
.archive
Bal.txt
Bar.txt
DatasetMFLDN.bed
DatasetMFLDN.bim
DatasetMFLDN.fam
DatasetMFLDN.log
DatasetMFLDN.map
DatasetMFLDN.nosex
DatasetMFLDN.ped
DatasetMFLDN.prune.in
DatasetMFLDN.prune.out
DatasetMFN.bed
DatasetMFN.bim
DatasetMFN.fam
DatasetMFN.log
DatasetMFN.nosex
GeneticDiversityanalysis_Part3.R
Genetic_diversity_part3.Rproj
Graded_Assignment3.Re
Ist.txt
PGDSpider.log
PGDSpider3.jar
Phylogram_data.nex
Rud.txt
beagle.jar
dataset.bed
dataset.bim
dataset.fam
dataset.log
dataset.nosex
hapflk1.2
plink.exe
plink2.exe
reynolds2kinship.R
scaling_chi2_hapflk.py
spider.conf.xml
.~lock.Dataset.fam#
DatasetFst.fst
DatasetFst.nosex
clusterfst_headers.txt
grp1.txt
grp2.txt
